<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" href="{{url_for('static', filename='globe.png')}}">
        <script>
                function change_state(obj) {
                        //if checkbox is being checked, add a "checked" class
                        if (obj.checked) { obj.parentNode.classList.add("checked"); }
                        //else remove it
                        else { obj.parentNode.classList.remove("checked"); }
                }
        </script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <title>
                Climate Models
        </title>
</head>

<body>
        <div class="content">
                <div class="title">CLIMATE MODELS</div>
                <form method="POST">
                        <div class="options">
                                <label class="select"><input onchange="change_state(this)" type="checkbox"
                                                name="sfcTemp" id="sfcTemp" /> Surface Temperature </label>
                                <label class="select"><input onchange="change_state(this)" type="checkbox"
                                                name="pcpRate" id="pcpRate" /> Precipitation Rate </label>
                                <label class="select"><input onchange="change_state(this)" type="checkbox"
                                                name="pcpAmnt" id="pcpAmnt" /> Precipitation Amount </label>
                        </div>
                        <div class="options">
                                <label class="select"><input onchange="change_state(this)" type="checkbox" name="01"
                                                id="jan" /> Jan </label>
                                <label class="select"><input onchange="change_state(this)" type="checkbox" name="02"
                                                id="feb" /> Feb </label>
                                <label class="select"><input onchange="change_state(this)" type="checkbox" name="03"
                                                id="mar" /> Mar </label>
                                <label class="select"><input onchange="change_state(this)" type="checkbox" name="04"
                                                id="apr" /> Apr </label>
                                <label class="select"><input onchange="change_state(this)" type="checkbox" name="05"
                                                id="may" /> May </label>
                                <label class="select"><input onchange="change_state(this)" type="checkbox" name="06"
                                                id="jun" /> Jun </label>
                                <label class="select"><input onchange="change_state(this)" type="checkbox" name="07"
                                                id="jul" /> Jul </label>
                                <label class="select"><input onchange="change_state(this)" type="checkbox" name="08"
                                                id="aug" /> Aug </label>
                                <label class="select"><input onchange="change_state(this)" type="checkbox" name="09"
                                                id="sep" /> Sep </label>
                                <label class="select"><input onchange="change_state(this)" type="checkbox" name="10"
                                                id="oct" /> Oct </label>
                                <label class="select"><input onchange="change_state(this)" type="checkbox" name="11"
                                                id="nov" /> Nov </label>
                                <label class="select"><input onchange="change_state(this)" type="checkbox" name="12"
                                                id="dec" /> Dec </label>
                        </div>
                        <div class="options">
                                <button type="submit" class="button" id="createModel">Create Model</button>
                        </div>
                </form>
                <div class="options">
                        <!-- Insert graphs below this line -->
                        {% block graph_container %}
                        {% endblock %}
                        <!-- Insert graphs above this line -->
                </div>
        </div>
        <div class="footer">
                Copyright &copy; 2023 | University of Connecticut - Computational Climate Change Lab
        </div>
</body>

</html>