<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" href="{{url_for('static', filename='globe.png')}}">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script type="text/javascript" src="{{url_for('static', filename='script.js')}}"></script>
        <title>
                Climate Models
        </title>
</head>

<body>
        <div class="content">
                <div class="title">CLIMATE MODELS</div>
                <form method="POST">
                        <div class="graph-selection">

                                <input type="radio" name="graphType" value="sfcTemp" id="sfcTemp">
                                <label for="sfcTemp">Surface Temperature</label>

                                <input type="radio" name="graphType" value="tempElev" id="tempElev">
                                <label for="tempElev">Elevation Temperature</label>

                                <input type="radio" name="graphType" value="pcpRate" id="pcpRate">
                                <label for="pcpRate">Precipitation Rate</label>

                                <input type="radio" name="graphType" value="pcpAmnt" id="pcpAmnt">
                                <label for="pcpAmnt">Precipitation Amount</label>
                        </div>
                        <div class="sfcTemp options">
                                <div class="color-selection">
                                        <input type="radio" name="color-sfcTemp" value="viridis" id="color-sfcTemp-a"
                                                checked>
                                        <label for="color-sfcTemp-a">Viridis</label>

                                        <input type="radio" name="color-sfcTemp" value="plasma" id="color-sfcTemp-b">
                                        <label for="color-sfcTemp-b">Plasma</label>

                                        <input type="radio" name="color-sfcTemp" value="magma" id="color-sfcTemp-c">
                                        <label for="color-sfcTemp-c">Magma</label>
                                </div>
                        </div>
                        <div class="tempElev options">
                                <div class="color-selection">
                                        <input type="radio" name="color-tempElev" value="viridis" id="color-tempElev-a"
                                                checked>
                                        <label for="color-tempElev-a">Viridis</label>

                                        <input type="radio" name="color-tempElev" value="plasma" id="color-tempElev-b">
                                        <label for="color-tempElev-b">Plasma</label>

                                        <input type="radio" name="color-tempElev" value="magma" id="color-tempElev-c">
                                        <label for="color-tempElev-c">Magma</label>
                                </div>
                                <div class="section">
                                        <input type="range" min="0" max="29" value="15" name="elevation" id="elevation">
                                </div>
                        </div>
                        <div class="pcpRate options">
                                <div class="color-selection">
                                        <input type="radio" name="color-pcpRate" value="viridis" id="color-pcpRate-a"
                                                checked>
                                        <label for="color-pcpRate-a">Viridis</label>

                                        <input type="radio" name="color-pcpRate" value="plasma" id="color-pcpRate-b">
                                        <label for="color-pcpRate-b">Plasma</label>

                                        <input type="radio" name="color-pcpRate" value="magma" id="color-pcpRate-c">
                                        <label for="color-pcpRate-c">Magma</label>
                                </div>
                        </div>
                        <div class="pcpAmnt options">
                                <div class="color-selection">
                                        <input type="radio" name="color-pcpAmnt" value="viridis" id="color-pcpAmnt-a"
                                                checked>
                                        <label for="color-pcpAmnt-a">Viridis</label>

                                        <input type="radio" name="color-pcpAmnt" value="plasma" id="color-pcpAmnt-b">
                                        <label for="color-pcpAmnt-b">Plasma</label>

                                        <input type="radio" name="color-pcpAmnt" value="magma" id="color-pcpAmnt-c">
                                        <label for="color-pcpAmnt-c">Magma</label>
                                </div>
                        </div>

                        <div class="month-selection">
                                <input type="checkbox" name="month" value="01" id="jan" /><label for="jan">Jan</label>
                                <input type="checkbox" name="month" value="02" id="feb" /><label for="feb">Feb</label>
                                <input type="checkbox" name="month" value="03" id="mar" /><label for="mar">Mar</label>
                                <input type="checkbox" name="month" value="04" id="apr" /><label for="apr">Apr</label>
                                <input type="checkbox" name="month" value="05" id="may" /><label for="may">May</label>
                                <input type="checkbox" name="month" value="06" id="jun" /><label for="jun">Jun</label>
                                <input type="checkbox" name="month" value="07" id="jul" /><label for="jul">Jul</label>
                                <input type="checkbox" name="month" value="08" id="aug" /><label for="aug">Aug</label>
                                <input type="checkbox" name="month" value="09" id="sep" /><label for="sep">Sep</label>
                                <input type="checkbox" name="month" value="10" id="oct" /><label for="oct">Oct</label>
                                <input type="checkbox" name="month" value="11" id="nov" /><label for="nov">Nov</label>
                                <input type="checkbox" name="month" value="12" id="dec" /><label for="dec">Dec</label>
                        </div>
                        <div class="section">
                                <button type="submit" class="button" id="createModel">Create Model</button>
                        </div>
                </form>
                <div class="section">
                        <!-- Insert graphs below this line -->
                        {% block graph_container %}
                        {% endblock %}
                        <!-- Insert graphs above this line -->
                </div>
        </div>
        <div class="footer">
                Copyright &copy; 2023 | University of Connecticut - Computational Climate Change Lab
        </div>
</body>

</html>